In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data.head()

,Unnamed: 0,DATE,LATITUDE_A,LONGITUDE_A,ELEVATION_A,PRCP_A,SNWD_A,TMAX_A,TMIN_A,TAVG_A,...,LONGITUDE_C,ELEVATION_C,PRCP_C,SNWD_C,TMAX_C,TMIN_C,TAVG_C,LATITUDE,LONGITUDE,TAVG
0,0,01-11-1979,63.88,77.52,128,NaN,0.0,17.6,NaN,12.96,...,78.93,64,0.0,0.00,18.7,NaN,NaN,63.933,78.733,9.3
1,1,13-11-1979,63.88,77.52,128,NaN,0.0,8.8,NaN,0.00,...,78.93,64,0.0,0.00,11.0,-3.8,2.04,63.933,78.733,2.7
2,2,05-02-1980,63.88,77.52,128,NaN,0.0,-9.9,NaN,-17.76,...,78.93,64,0.0,0.00,NaN,NaN,-16.56,63.933,78.733,-16.0
3,3,23-12-1979,63.88,77.52,128,0.0,0.0,NaN,-4.30,-4.44,...,78.93,64,0.0,0.00,0.0,NaN,-2.64,63.933,78.733,-3.2
4,4,07-06-1977,63.88,77.52,128,NaN,0.0,39.6,15.48,NaN,...,78.93,64,NaN,3.82,38.5,17.1,33.00,63.933,78.733,27.3

In [4]:
data.describe()

,Unnamed: 0,LATITUDE_A,LONGITUDE_A,ELEVATION_A,PRCP_A,SNWD_A,TMAX_A,TMIN_A,TAVG_A,LATITUDE_B,...,LONGITUDE_C,ELEVATION_C,PRCP_C,SNWD_C,TMAX_C,TMIN_C,TAVG_C,LATITUDE,LONGITUDE,TAVG
count,812.000000,8.120000e+02,8.120000e+02,812.0,251.000000,812.000000,567.000000,289.000000,742.000000,8.120000e+02,...,8.120000e+02,812.0,605.000000,812.000000,573.000000,341.000000,683.000000,8.120000e+02,8.120000e+02,812.000000
mean,405.500000,6.388000e+01,7.752000e+01,128.0,6.633466,0.215961,17.127795,8.385779,12.793423,6.295000e+01,...,7.893000e+01,64.0,5.641322,0.242537,22.335951,5.001261,14.354319,6.393300e+01,7.873300e+01,8.590764
std,234.548502,7.109807e-15,1.421961e-14,0.0,38.496768,0.787311,18.738273,15.991607,20.119547,7.109807e-15,...,1.421961e-14,0.0,44.477935,0.839384,19.397302,13.750962,18.992756,7.109807e-15,2.843923e-14,13.549444
min,0.000000,6.388000e+01,7.752000e+01,128.0,0.000000,0.000000,-24.200000,-29.240000,-35.040000,6.295000e+01,...,7.893000e+01,64.0,0.000000,0.000000,-22.000000,-29.450000,-32.160000,6.393300e+01,7.873300e+01,-28.300000
25%,202.750000,6.388000e+01,7.752000e+01,128.0,0.000000,0.000000,1.100000,-3.440000,-3.000000,6.295000e+01,...,7.893000e+01,64.0,0.000000,0.000000,5.500000,-3.800000,-0.960000,6.393300e+01,7.873300e+01,-1.725000
50%,405.500000,6.388000e+01,7.752000e+01,128.0,0.000000,0.000000,16.500000,8.600000,12.180000,6.295000e+01,...,7.893000e+01,64.0,0.000000,0.000000,23.100000,5.700000,14.640000,6.393300e+01,7.873300e+01,6.800000
75%,608.250000,6.388000e+01,7.752000e+01,128.0,0.000000,0.000000,31.900000,17.200000,27.600000,6.295000e+01,...,7.893000e+01,64.0,0.000000,0.000000,35.200000,15.200000,27.360000,6.393300e+01,7.873300e+01,21.600000
max,811.000000,6.388000e+01,7.752000e+01,128.0,500.000000,3.920000,83.490000,54.180000,83.040000,6.295000e+01,...,7.893000e+01,64.0,800.000000,3.960000,77.880000,50.440000,82.680000,6.393300e+01,7.873300e+01,32.700000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 812 entries, 0 to 811
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   812 non-null    int64
 1   DATE         812 non-null    object
 2   LATITUDE_A   812 non-null    float64
 3   LONGITUDE_A  812 non-null    float64
 4   ELEVATION_A  812 non-null    int64
 5   PRCP_A       251 non-null    float64
 6   SNWD_A       812 non-null    float64
 7   TMAX_A       567 non-null    float64
 8   TMIN_A       289 non-null    float64
 9   TAVG_A       742 non-null    float64
 10  LATITUDE_B   812 non-null    float64
 11  LONGITUDE_B  812 non-null    float64
 12  ELEVATION_B  812 non-null    int64
 13  PRCP_B       812 non-null    int64
 14  SNWD_B       812 non-null    float64
 15  TMAX_B       812 non-null    float64
 16  TMIN_B       812 non-null    float64
 17  TAVG_B       742 non-null    float64
 18  LATITUDE_C   812 non-null    float64
 19  LONGITUDE_C  812 non-null    float64
 20  ELEVATION_C  812 non-null    int64
 21  PRCP_C       605 non-null    float64
 22  SNWD_C       812 non-null    float64
 23  TMAX_C       573 non-null    float64
 24  TMIN_C       341 non-null    float64
 25  TAVG_C       683 non-null    float64
 26  LATITUDE     812 non-null    float64
 27  LONGITUDE    812 non-null    float64
 28  TAVG         812 non-null    float64
dtypes: float64(23), int64(5), object(1)
memory usage: 184.1+ KB

In [6]:
data.notnull().sum()

Unnamed: 0     812
DATE           812
LATITUDE_A     812
LONGITUDE_A    812
ELEVATION_A    812
PRCP_A         251
SNWD_A         812
TMAX_A         567
TMIN_A         289
TAVG_A         742
LATITUDE_B     812
LONGITUDE_B    812
ELEVATION_B    812
PRCP_B         812
SNWD_B         812
TMAX_B         812
TMIN_B         812
TAVG_B         742
LATITUDE_C     812
LONGITUDE_C    812
ELEVATION_C    812
PRCP_C         605
SNWD_C         812
TMAX_C         573
TMIN_C         341
TAVG_C         683
LATITUDE       812
LONGITUDE      812
TAVG           812
dtype: int64

In [7]:
data.shape

(812, 29)

In [8]:
data.columns

Index(['Unnamed: 0', 'DATE', 'LATITUDE_A', 'LONGITUDE_A', 'ELEVATION_A',
       'PRCP_A', 'SNWD_A', 'TMAX_A', 'TMIN_A', 'TAVG_A', 'LATITUDE_B',
       'LONGITUDE_B', 'ELEVATION_B', 'PRCP_B', 'SNWD_B', 'TMAX_B', 'TMIN_B',
       'TAVG_B', 'LATITUDE_C', 'LONGITUDE_C', 'ELEVATION_C', 'PRCP_C',
       'SNWD_C', 'TMAX_C', 'TMIN_C', 'TAVG_C', 'LATITUDE', 'LONGITUDE',
       'TAVG'],
      dtype='object')

In [9]:
data.notnull()

,Unnamed: 0,DATE,LATITUDE_A,LONGITUDE_A,ELEVATION_A,PRCP_A,SNWD_A,TMAX_A,TMIN_A,TAVG_A,...,LONGITUDE_C,ELEVATION_C,PRCP_C,SNWD_C,TMAX_C,TMIN_C,TAVG_C,LATITUDE,LONGITUDE,TAVG
0,True,True,True,True,True,False,True,True,False,True,...,True,True,True,True,True,False,False,True,True,True
1,True,True,True,True,True,False,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,False,True,True,False,True,...,True,True,True,True,False,False,True,True,True,True
3,True,True,True,True,True,True,True,False,True,True,...,True,True,True,True,True,False,True,True,True,True
4,True,True,True,True,True,False,True,True,True,False,...,True,True,False,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,True,True,True,True,True,False,True,False,False,True,...,True,True,True,True,False,False,True,True,True,True
808,True,True,True,True,True,False,True,True,True,True,...,True,True,True,True,False,True,True,True,True,True
809,True,True,True,True,True,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
810,True,True,True,True,True,True,True,True,False,True,...,True,True,True,True,True,False,True,True,True,True
811,True,True,True,True,True,False,True,True,False,True,...,True,True,True,True,True,False,True,True,True,True

In [ ]:
data['PRCP_A'] = data['PRCP'].fillna(data['PRCP'].mean())

In [12]:
data.isnull().sum()

Unnamed: 0       0
DATE             0
LATITUDE_A       0
LONGITUDE_A      0
ELEVATION_A      0
PRCP_A         561
SNWD_A           0
TMAX_A         245
TMIN_A         523
TAVG_A          70
LATITUDE_B       0
LONGITUDE_B      0
ELEVATION_B      0
PRCP_B           0
SNWD_B           0
TMAX_B           0
TMIN_B           0
TAVG_B          70
LATITUDE_C       0
LONGITUDE_C      0
ELEVATION_C      0
PRCP_C         207
SNWD_C           0
TMAX_C         239
TMIN_C         471
TAVG_C         129
LATITUDE         0
LONGITUDE        0
TAVG             0
dtype: int64